{% extends 'base.html' %}

{% block content %}
<style>
    .about-container {
        text-align: center;
        font-size: 22px;
        margin-top: 50px;
    }

    .about-container h1 {
        font-size: 36px;
    }

    .about-container p {
        margin: 20px 0;
    }
</style>

<div class="about-container">
    <h1>О нас</h1>
    <p>Мы - команда энтузиастов, создающая удивительные продукты для наших клиентов.</p>
    <p>Наша цель - предоставить вам лучший опыт покупок и обеспечить вас качественными товаров и услугами.</p>
</div>
{% endblock %}
